@use '/src/index.scss' as index;

.cart {
    width: 100%;
    background-color: index.$rose-50;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;

    &__title {
        color: index.$red;
        align-self: start;
    }

    &__empty-image {
        width: auto;
        height: auto;
        display: block;
        justify-self: center;
    }

    &__empty-text {
        color: index.$rose-400;
        font-weight: 600;
    }
}