@use '/src/index.scss' as index;

.dessert {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 16rem;
    position: relative;
    row-gap: 0.375rem;

    &__image {
        border-radius: 0.5rem;
        max-width: 16rem;
        margin-block-end: 1.5rem;

        &--in-cart {
            border: 0.125rem solid index.$red;
        }
    }

    &__buy-button {
        background-color: index.$rose-50;
        color: index.$rose-900;
        font-weight: 600;
        font-size: .875rem;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        position: absolute;
        bottom: 5.4rem;
        border-radius: 2rem;
        border: 1px solid index.$rose-400;
        gap: 0.5rem;
        padding: 0.75rem 1.5rem;
        width: 65%;
        cursor: pointer;
        transition: background-color 0.2s ease, color 0.2s ease;
    
        &:hover {
          background-color: index.$rose-300;
          color: index.$rose-50;
        }
    }

    &__category {
        font-size: 0.875rem;
        color: index.$rose-400;
    }

    &__name {
        font-size: 1rem;
        font-weight: 700;
    }

    &__price {
        color: index.$red;
        font-weight: 600;
    }

    &__quantity-selector {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: index.$red;
        padding: 0.75rem 1.5rem;
        border-radius: 2rem;
        align-self: center;
        position: absolute;
        bottom: 5.4rem;
        border-radius: 2rem;
        border: 1px solid index.$red;
        gap: 0.5rem;
        padding: 0.75rem 1rem;
        cursor: pointer;
        width: 65%;
    }
    
    &__quantity-button {
        all: unset;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        border: 1px solid index.$rose-50;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .875rem;
    }

    &__quantity {
        color: index.$rose-50;
    }
}
